@import '../../styles/main.scss';

.terminal {
    width: 100%;
    height: 20vh;
    min-height: 20vh;
    border-top: 1px solid $border-dark;
    background-color: $background-dark;
    overflow-x: hidden;
    overflow-y: auto;
    color: #00DC09;

    .terminal-header {
        width: 100%;
        margin-top: 1vh;
        display: flex;
        flex-direction: row;
        align-items: center;

        h1 {
            font-family: 'Consolas', sans-serif;
            // color: $header-font-dark;
            font-size: 1.15vw;
            margin-left: 0.78125vw;
            font-weight: 400;
            color: #00DC09;
        }

        div {
            display: flex;
            flex-direction: row-reverse;
            margin-right: 3.5vw;
            margin-left: auto;
            gap: 1.3vw;
        }
    }

    .output {
        font-family: 'Consolas', sans-serif;
        margin-left: 1vw;
        margin-top: 1vh;
        color: #00DC09;
        font-size: 1vw;
    }
}