@import "../../styles/main.scss";

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.78125vw;
    -webkit-app-region: no-drag;

    button {
        background-color: transparent;
        border: none;
        width: fit-content;
        height: fit-content;
    }
}