$keyword: #3F88C5; //done
$function: #FFDE67; //done
$statements: #CF83D9; //done
$string: #EC9B6C; //done
$number: #CAFFB8; //done
$variable: #A7DFFF; //done
$operators-semicolon: #E4E4E4; //done
$brackets: #7A7EA0; //done
$parameter: #5B5D6F; //done
$comment: #007D23; //done
$structName: #4EC9B0;