$keyword: #5F9FFF;
$function: #FFDE67;
$statements: #D8A0DF;
$string: #EC9B6C;
$number: #CAFFB8;
$variable: #A7DFFF;
$operators-semicolon: #E4E4E4;
$brackets: #7A7EA0;
$parameter: #5B5D6F;
$comment: #007D23;