@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '../../regex/syntax-simple.scss';


.codespace {
    width: 100%;
    height: 72vh;
    padding: 1.44vh 0 0 1vw;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: auto;

    .title_div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        h1, h2 {
            color: #383838;
            font-weight: 500;
            text-align: center;
            font-size: 18vw;
            text-shadow: 7px 1px 30px rgb(10, 10, 10);
            user-select: none;
            opacity: 30%;
        }

        h2 {
            margin-bottom: 12vh;
        }
    }

    p {
        font-size: 20px;
        color: white;
    }

    .line-numbers {
        font-family: "Roboto", "Inter", sans-serif;
        height: 91vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 1vw;
        font-size: 1.04vw;
        font-weight: 300;
        color: #AFAFAF;
        line-height: 1.6;

        span {
            display: block;
            height: 1.6em;
        }
    }

    .code-container {
        position: relative;
        width: 82vw;
        font-family: "Roboto", "Inter", sans-serif;

        pre {
            font-family: "Roboto", "Inter", sans-serif;
            font-size: 1.04vw;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            width: 100%;
            pointer-events: none;
            white-space: pre;
            overflow-x: hidden;
            background-color: #252525;
            color: $variable;
            text-shadow: none;
            -webkit-text-stroke: 0;
            tab-size: 4;

            .keyword {
                color: $keyword;
            }

            .number, .digit, .hex {
                color: $number;
            }

            .function, .call {
                color: $function;
            }

            .string {
                color: $string;
            }

            .operator {
                color: $operators-semicolon;
                background-color: transparent;
            }

            .brackets {
                color: $brackets;
            }

            .statement {
                color: $statements
            }

            .comment {
                color: $comment
            }

            .parameter {
                color: $parameter
            }

            .function-name {
                color: $variable
            }

            .struct-name, .struct, .enum-name {
                color: $structName
            }
        }

        .textarea {
            font-family: "Roboto", "Inter", sans-serif;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            // height: 100%;
            background: none;
            border: none;
            color: transparent;
            caret-color: white;
            resize: none;
            font-size: 1.04vw;
            font-weight: 400;
            line-height: 1.6;
            z-index: 1;
            overflow-x: auto;
            white-space: pre;
            tab-size: 4;

            &::-webkit-scrollbar {
                height: 7px;
                background-color: rgba(0, 0, 0, 10%);
                border-radius: 10px;
                cursor: default;
                position: sticky;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #383838;
                border-radius: 10px;
                cursor: default;
            }
        }
    }
}

// overflow-x: auto; 
// white-space: nowrap;


// .keyword {
    //         color: $keyword;
    //     }

    //     .number, .digit, .hex {
    //         color: $number;
    //     }

    //     .function, .call {
    //         color: $function;
    //     }

    //     .string {
    //         color: $string;
    //     }

    //     .operator {
    //         color: $operators-semicolon;
    //         background-color: transparent;
    //     }

    //     .brackets {
    //         color: $brackets;
    //     }

    //     .statement {
    //         color: $statements
    //     }

    //     .comment {
    //         color: $comment
    //     }

    //     .parameter {
    //         color: $parameter
    //     }

    //     .function-name {
    //         color: $variable
    //     }

    //     .struct-name, .struct, .enum-name {
    //         color: $structName
    //     }